<div class="row" style="background-color: #1a0f1f">
    <div class="col-3 text-light mt-5">
        <div style="position: relative; left: 20%; width: 200%; color: #fffaee; font-size: 7vw">
            <p>Welcome to <b style="color: #c44c1a">Bel'funfair</b></p>
            <a href="#description" style="color: white">
                <i class="bi bi-arrow-down-circle"></i>
            </a>
        </div>
    </div>
    <div class="col-9">
        <div>
            <img src="https://www.citizenkid.com/uploads/medias/1f/94/1f94dd74126b304d14ee7ad9d3697e9c787bbf04.jpeg" alt="Carrousel" width="100%">
        </div>
    </div>
</div>

<div id="description" class="row" style="height: 12vw;background-color: #1a0f1f"></div>

<div class="row" style="background-image: linear-gradient(180deg, #1a0f1f, #571845)">
    <div class="col-1"></div>
    <div class="col-10 p-4">
        <p style="color: #fffaee;text-align: justify;font-size: 2.5vw; font-family: cursive">
            Welcome to Bel'funfair, an annual fairground event during which rides,
            stalls and restaurants await you in the city center of Belfort.
            For a month, vibrate through different thrill rides or treat yourself in family stands
            for the less adventurous and the little ones. Also find our large stage welcoming
            several artists and our set of themed restaurants.
        </p>
        <p style="font-size: 5vw; color: #ff5733">
            Start your adventure with us
            <a href="#show_map" style="color: white">
                <i class="bi bi-arrow-down-circle small"></i>
            </a>
        </p>
    </div>
    <div class="col-1"></div>
</div>

<div id="show_map" class="row" style="height: 8vw;background-color: #571845"></div>

<div class="row p-4" style="background-image: linear-gradient(180deg, #571845, #900c3e)">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <img src="https://www.gralon.net/evenements/plan/plan-centre-ville-de-belfort--20412.jpg" alt="map" width="100%">
    </div>
</div>

<div class="row" style="height: 8vw;background-color: #900c3e"></div>